@font-face {
    font-family: Calibri;
    src: url(../fonts/Calibri.ttf);
}

@font-face {
    font-family: Gill Sans;
    src: url(../fonts/GillSans.ttc);
}

@font-face{
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Black.ttf);
  }