@import "font.scss";
@import "color.scss";

html{
    font-family: Calibri;

    a{
        text-decoration: none;
        color: inherit;
    }

    body{
        margin: 0;
    }
}

.header{
    font-size: 18px;
    background-color: $main-color;
    color: white;
}

.headerText{
    display: inline-block;
    margin: 10px 150px;
}

.loginContainer{
    float: right;
    margin: 10px 150px;
}

.content{
    text-align: center;
}

.contentHeader{
    background-color: $main-color;
    color: white;

    #contentHeaderText{
        font-size: 52px;
        padding-top: 50px;
        margin-bottom: 50px;
    }
}

hr{
    color: $main-color;
}

select{
    width: 100%;
    font-size: 18px;
    padding: 10px;
    border-radius: 8px;
}

.contentForm{
    padding: 30px;
    margin: 25px 150px;
    border-radius: 5px;
    box-shadow: 2.5px 2.5px 8px 2.5px #b5b5b5;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    grid-column-gap: 30px;

    .formHeader{
        text-align: left;
        font-size: 28px;
        align-self: center;
    }

    .formPic{
        color: white;
        justify-self: end;
    }

    .formSelect{
        margin: 10px 0;
    }


    .formText{
        text-align: left;
        font-size: 18px;
    }

    .formLeft{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        margin-top: 45px;
    }

    .formRight{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        margin-top: 45px;

        .twoCol{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 15px;
        }
    }

    .button{
        justify-self: right;
        width: -webkit-max-content;
    }

    #searchBtn{
        padding: 5px;
        background-color: $main-color;
        color: white;
        border-radius: 5px;
        font-family: Calibri;
        font-size: 16px;
        border: 0;
        margin-top: 20px;
    }
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}