@import "font.scss";
@import "color.scss";

html{
    font-family: Calibri;

    a{
        text-decoration: none;
        color: inherit;
    }

    body{
        margin: 0;
    }
}

.header{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;

    font-size: 18px;
    background-color: $main-color;
    color: white;
    padding: 10px 0;
}

.usernameDisplay{
    justify-self: right;
    margin-right: 150px;
}

//untuk dropdown menu
.usernameDisplay:hover{
    .headerMenuContent{
        display: block;
    }
}

.headerMenuContent{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

    a{
        display: block;
        color: black;
    }

    a:hover{
        background-color: #f1f1f1;
        color: black;
    }
}
////////////

.home{
    display: inline-block;
    margin: 10px 150px;
}

.contentHeader{
    padding-left: 150px;
    padding-bottom: 50px;
    background-color: $main-color;
    color: white; 

    #contentHeaderText{
        font-size: 52px;
        padding-top: 50px;
        margin-bottom: 30px;
    }
}

.contentWrapper{
    display: grid;
    grid-template-columns: 2fr 1fr;

    .left{
        
        .passengers{
            padding: 30px;
            margin: 25px 150px;
            border-radius: 5px;
            box-shadow: 2.5px 2.5px 8px 2.5px #b5b5b5;

            .passengerDetail{
                display: grid;

                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
            }
        }

        .detailHeader{
            font-weight: bold;
            margin-top: 10px;
        }

        .detailContent{
            margin-left: 10px;
        }
    }

    .right{

        .userDetail{
            margin: 25px 100px 25px 0;
        }

        .userPay{
            margin-bottom: 30px;
        }

        .buttons{
            width: 100%;
            border-radius: 10px;
            border: 0;
            color: white;
            font-size: 18px;
            height: 50px;
        }

        #payBtn{
            cursor: pointer;
            background-color: $main-color;
            margin-bottom: 10px;
        }

        #cancelBtn{
            cursor: pointer;
            background-color: $red-button;
        }
    }
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
}